<div class="container container-fluid">
	<h1>Tasks List</h1>
    <div class="row">
		<div class="col-xs-4">
			<input type="search" class="form-control"  [(ngModel)]="searchTerm" placeholder="Find Task" />
		</div>
		<div class="col-xs-6">
			<div class="btn-group">
				<button 
					*ngFor="let button of activeButtons"
					(click)="showActive = button"
					class="btn"
					[class.btn-danger]=" showActive == button "
					[class.btn-default]=" showActive != button ">
					{{button | uppercase }}
				</button>
			</div>
		</div>		
		<div class="col-xs-1">
			<a href="/create" routerLink="/create" class="btn btn-primary">Add Task</a>
		</div>
	</div>
</div>	
<hr>
<div class="container">
    <div class="row">

		<table class="table table-striped">
			<tr *ngFor="let task of (tasks | InputSearch:searchTerm | FilterActive: showActive)">
				<td><input type="checkbox" (click)="toggleActive(task)" [(ngModel)]="task.active" /></td>
				<td>{{ task.name }}</td>
				<td>{{ task.description }}</td>
				<td><a href="/update/{{ task.id }}" routerLink="/update/{{ task.id }}" class="btn btn-xs btn-default">edit</a></td>
				<td><button (click)="remove(task.id);" class="btn btn-xs btn-default">remove</button></td>
			</tr>
		</table>	
	</div>
</div>	

